html {
  line-height: 1.4;
}

body {
  margin: 0;
  width: 100vw;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
}

