@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

html {
  --app-bg: #121212;
  --app-bg-trans: #12121255;
  --app-fg: #dae0e0;

  --marker-label-bg: white;
  --marker-label-fg: black;

  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: var(--app-bg);
  color: var(--app-fg);
}

.fullscreen {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: var(--app-bg);
  color: var(--app-fg);
  transform-origin: bottom;
}
@media (orientation: landscape) {
  .fullscreen {
    width: 50%;
}}


.exit-fullscreen {
  text-decoration: none;
  color: var(--app-fg);
  display: block;
  float: right;
  margin-right: 1em;
}

.exit-fullscreen:before {
  content: '✕';
}