@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

html {
  --app-bg: #121212;
  --app-bg-trans: #12121255;
  --app-fg: #dae0e0;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: var(--app-bg);
  color: var(--app-fg);
}