.marker-pin {
  /* ✈ */
  background: transparent url("@/images/icons/arrow-up.svg") center no-repeat;
  border: 2px solid black;
  color: black;
  border-radius: 50%;
  min-width: 24pt;
  min-height: 24pt;
  left: -12pt;
  position: relative;
}

// .marker-pin:after {
//   content: '✈';
//   color: black;
//   font-size: 24pt;
// }

.marker-label {
  background: white;
  color: black;
  font-size: 10pt;
  display: inline-block;
  padding: 2pt 4pt;
  border-radius: 6pt;
  transform: translate(-50%, 0%);
}